# user configuration
export SSH__MAIN__USERNAME=user
export SSH__MAIN__PASSWORD=$(gen_password)
export SSH__MAIN__ROOT_PASSWORD=$(gen_password)

# traefik configuration
export SSH__TRAEFIK__USERNAME=$(gen_password 32)
export SSH__TRAEFIK__PASSWORD=$(gen_password 128)
export SSH__TRAEFIK__AUTH=$(gen_htpasswd ${SSH__TRAEFIK__USERNAME} ${SSH__TRAEFIK__PASSWORD})
export SSH__TRAEFIK__URL=ssh.localhost
