# user configuration
export USER_LOGIN=user:$(gen_password 64)
export LAB__MAIN__ROOT_PASSWORD=$(gen_password 64)

# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-'localhost'}

# traefik configuration
export LAB__TRAEFIK__USER=$(gen_password 32)
export LAB__TRAEFIK__PASSWORD=$(gen_password 64)
export LAB__TRAEFIK__AUTH=$(gen_htpasswd ${LAB__TRAEFIK__USER} ${LAB__TRAEFIK__PASSWORD})
export LAB__TRAEFIK__URL=lab.${SERVER__MAIN__DOMAIN:?SERVER__MAIN__DOMAIN}
