# airflow configuration
export AIRFLOW__MAIN__FERNET_KEY=$(gen_fernet_key)
export AIRFLOW__MAIN__PASSWORD=$(gen_password 64)
export AIRFLOW__MAIN__USER=airflow-user

# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-localhost}

# traefik configuration
export AIRFLOW__TRAEFIK__USER=$(gen_password 64)
export AIRFLOW__TRAEFIK__PASSWORD=$(gen_password 128)
export AIRFLOW__TRAEFIK__AUTH=$(gen_htpasswd ${AIRFLOW__TRAEFIK__USER} ${AIRFLOW__TRAEFIK__PASSWORD})
export AIRFLOW__TRAEFIK__URL=airflow.${SERVER__MAIN__DOMAIN}
