# airflow configuration
export AIRFLOW__MAIN__FERNET_KEY=$(gen_fernet_key)
export AIRFLOW__MAIN__PASSWORD=$(gen_password 64)
export AIRFLOW__MAIN__USER=airflow-user

# postgres configuration
export POSTGRES__AIRFLOW__DB=${POSTGRES__AIRFLOW__DB:-airflow}
export POSTGRES__AIRFLOW__HOST=${POSTGRES__AIRFLOW__HOST:-postgres}
export POSTGRES__AIRFLOW__PASSWORD=${POSTGRES__AIRFLOW__PASSWORD:-$(gen_password 64)}
export POSTGRES__AIRFLOW__PORT=${POSTGRES__AIRFLOW__PORT:-5432}
export POSTGRES__AIRFLOW__USER=${POSTGRES__AIRFLOW__USER:-airflow}

# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-localhost}

# traefik configuration
export AIRFLOW__TRAEFIK__USER=$(gen_password 64)
export AIRFLOW__TRAEFIK__PASSWORD=$(gen_password 128)
export AIRFLOW__TRAEFIK__AUTH=$(gen_htpasswd ${AIRFLOW__TRAEFIK__USER} ${AIRFLOW__TRAEFIK__PASSWORD})
export AIRFLOW__TRAEFIK__URL=airflow.${SERVER__MAIN__DOMAIN}

# uri
export AIRFLOW__URI__POSTGRESQL_PSYCOPG2="postgresql+psycopg2://${POSTGRES__AIRFLOW__USER}:${POSTGRES__AIRFLOW__PASSWORD}@${POSTGRES__AIRFLOW__HOST}:${POSTGRES__AIRFLOW__PORT}/${POSTGRES__AIRFLOW__DB}"
