# pgadmin4 configuration
export PGADMIN__MAIN__PASSWORD=$(gen_password 64)
export PGADMIN__MAIN__USER=admin@${SERVER__MAIN__DOMAIN}

# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-'localhost'}

# traefik configuration
export PGADMIN__TRAEFIK__USER=$(gen_password 32)
export PGADMIN__TRAEFIK__PASSWORD=$(gen_password 64)
export PGADMIN__TRAEFIK__AUTH=$(gen_htpasswd ${PGADMIN__TRAEFIK__USER} ${PGADMIN__TRAEFIK__PASSWORD})
export PGADMIN__TRAEFIK__URL=pgadmin.${SERVER__MAIN__DOMAIN:?SERVER__MAIN__DOMAIN}
