# pgadmin4 configuration
export PGADMIN__MAIN__USERNAME=admin@localhost
export PGADMIN__MAIN__PASSWORD=$(gen_password 32)

# traefik configuration
export PGADMIN__TRAEFIK__USERNAME=$(gen_password 32)
export PGADMIN__TRAEFIK__PASSWORD=$(gen_password 128)
export PGADMIN__TRAEFIK__AUTH=$(gen_htpasswd ${PGADMIN__TRAEFIK__USERNAME} ${PGADMIN__TRAEFIK__PASSWORD})
export PGADMIN__TRAEFIK__URL=pgadmin.localhost
