
# basic configuration
export PGADMIN_HOST_PORT=10081
export PGADMIN_IMAGE=dpage/pgadmin4
export PGADMIN_PORT=80

# pgadmin4 configuration
export PGADMIN_DEFAULT_EMAIL=admin@localhost
export PGADMIN_DEFAULT_PASSWORD=$(gen_password)
