# traefik configuration
export TRAEFIK__MAIN__EMAIL=admin@localhost
export TRAEFIK__TRAEFIK__USERNAME=$(gen_password 32)
export TRAEFIK__TRAEFIK__PASSWORD=$(gen_password 128)
export TRAEFIK__TRAEFIK__AUTH=$(gen_htpasswd ${TRAEFIK__TRAEFIK__USERNAME} ${TRAEFIK__TRAEFIK__PASSWORD})
