# basic configuration
export TRAEFIK_HOST_PORT_HTTP=80
export TRAEFIK_PORT_HTTP=80
export TRAEFIK_HOST_PORT_HTTPS=443
export TRAEFIK_PORT_HTTPS=443
export TRAEFIK_IMAGE=traefik:1.7

# traefik configuration
export TRAEFIK_AUTH_USER=$(gen_password)
export TRAEFIK_AUTH_PASSWORD=$(gen_password)
export TRAEFIK_AUTH_BASIC=$(gen_htpasswd ${TRAEFIK_AUTH_USER} ${TRAEFIK_AUTH_PASSWORD})
export TRAEFIK_INTERFACE_DOMAIN=traefik.localhost
export TRAEFIK_PORT=8080
export TRAEFIK_ENABLE=true

