# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-localhost}

# traefik configuration
export TRAEFIK__MAIN__EMAIL=admin@${SERVER__MAIN__DOMAIN}
export TRAEFIK__TRAEFIK__USER=$(gen_password 32)
export TRAEFIK__TRAEFIK__PASSWORD=$(gen_password 64)
export TRAEFIK__TRAEFIK__AUTH=$(gen_htpasswd ${TRAEFIK__TRAEFIK__USER} ${TRAEFIK__TRAEFIK__PASSWORD})
export TRAEFIK__TRAEFIK__URL=traefik.${SERVER__MAIN__DOMAIN}
