# portainer configuration
export PORTAINER__MAIN__USER=admin
export PORTAINER__MAIN__PASSWORD=$(gen_password 64)
export PORTAINER__MAIN__AUTH=$(gen_htpasswd ${PORTAINER__MAIN__USER} ${PORTAINER__MAIN__PASSWORD} | cut -d ":" -f 2)

