# portainer configuration
export PORTAINER__MAIN__USERNAME=admin
export PORTAINER__MAIN__PASSWORD=$(gen_password 128)
export PORTAINER__MAIN__AUTH=$(gen_htpasswd ${PORTAINER__MAIN__USERNAME} ${PORTAINER__MAIN__PASSWORD} | cut -d ":" -f 2)

