# host configuration
export PORTAINER_HOST_PORT=9000

# portainer configuration
export PORTAINER_IMAGE=portainer/portainer:1.21.0
export PORTAINER_PORT=9000
export PORTAINER_USER=admin
export PORTAINER_PASSWORD=$(gen_password)
export PORTAINER_AUTH=$(gen_htpasswd ${PORTAINER_USER} ${PORTAINER_PASSWORD}  | cut -d ":" -f 2)

