# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-localhost}

# traefik configuration
export ZEPPELIN__TRAEFIK__USER=$(gen_password 32)
export ZEPPELIN__TRAEFIK__PASSWORD=$(gen_password 64)
export ZEPPELIN__TRAEFIK__AUTH=$(gen_htpasswd ${ZEPPELIN__TRAEFIK__USER} ${ZEPPELIN__TRAEFIK__PASSWORD})
export ZEPPELIN__TRAEFIK__URL=zeppelin.${SERVER__MAIN__DOMAIN:?SERVER__MAIN__DOMAIN}
