# traefik configuration
export ZEPPELIN__TRAEFIK__USERNAME=$(gen_password 32)
export ZEPPELIN__TRAEFIK__PASSWORD=$(gen_password 128)
export ZEPPELIN__TRAEFIK__AUTH=$(gen_htpasswd ${ZEPPELIN__TRAEFIK__USERNAME} ${ZEPPELIN__TRAEFIK__PASSWORD})
export ZEPPELIN__TRAEFIK__URL=zeppelin.localhost
