# airflow configuration
export AIRFLOW__CORE__FERNET_KEY=$(docker run --rm continuumio/miniconda3 python3 -c 'from cryptography.fernet import Fernet; FERNET_KEY=Fernet.generate_key().decode(); print(str(FERNET_KEY))')
export AIRFLOW_PASSWORD=$(gen_password 32)
export AIRFLOW_USER=airflow-user

# flower configuration
export FLOWER_PASSWORD=$(gen_password 32)
export FLOWER_USER=flower-user

# postgres configuration
export POSTGRES_DB=airflow
export POSTGRES_PASSWORD=$(gen_password 32)
export POSTGRES_USER=airflow

# redis configuration
export REDIS_HOST=redis
export REDIS_PASSWORD=$(gen_password 32)

# traefik configuration
export TRAEFIK_AUTH_USER=$(gen_password 32)
export TRAEFIK_AUTH_PASSWORD=$(gen_password 128)
export TRAEFIK_AUTH_BASIC=$(gen_htpasswd ${TRAEFIK_AUTH_USER} ${TRAEFIK_AUTH_PASSWORD})

