# airflow configuration
export AIRFLOW__MAIN__FERNET_KEY=$(gen_fernet_key)
export AIRFLOW__MAIN__PASSWORD=$(gen_password 64)
export AIRFLOW__MAIN__USER=airflow-user

# redis configuration
export REDIS__AIRFLOW__PASSWORD=$(gen_password 32)

# postgres configuration
export POSTGRES__AIRFLOW__DB=airflow
export POSTGRES__AIRFLOW__HOST=postgres
export POSTGRES__AIRFLOW__PASSWORD=$(gen_password 32)
export POSTGRES__AIRFLOW__PORT=5432
export POSTGRES__AIRFLOW__USER=airflow

# traefik configuration
export AIRFLOW__TRAEFIK__USER=$(gen_password 16)
export AIRFLOW__TRAEFIK__PASSWORD=$(gen_password 128)
export AIRFLOW__TRAEFIK__AUTH=$(gen_htpasswd ${AIRFLOW__TRAEFIK__USER} ${AIRFLOW__TRAEFIK__PASSWORD})
export AIRFLOW__TRAEFIK__URL=airflow.localhost

export AIRFLOW__CELERY__BROKER_URL="redis://:${REDIS__AIRFLOW__PASSWORD}@redis:6379/1"
export AIRFLOW__CORE__SQL_ALCHEMY_CONN="postgresql+psycopg2://${POSTGRES__AIRFLOW__USER}:${POSTGRES__AIRFLOW__PASSWORD}@${POSTGRES__AIRFLOW__HOST}:${POSTGRES__AIRFLOW__PORT}/${POSTGRES__AIRFLOW__DB}"
export AIRFLOW__CELERY__RESULT_BACKEND="db+postgresql://${POSTGRES__AIRFLOW__USER}:${POSTGRES__AIRFLOW__PASSWORD}@${POSTGRES__AIRFLOW__HOST}:${POSTGRES__AIRFLOW__PORT}/${POSTGRES__AIRFLOW__DB}"
export AIRFLOW__CORE__FERNET_KEY=$(gen_fernet_key)

