# airflow configuration
export AIRFLOW__MAIN__FERNET_KEY=$(gen_fernet_key)
export AIRFLOW__MAIN__PASSWORD=$(gen_password 64)
export AIRFLOW__MAIN__USER=airflow-user
export AIRFLOW__MAIN__JSON_USER="{role:Admin, username:${AIRFLOW__MAIN__USER:?AIRFLOW__MAIN__USER}, password:${AIRFLOW__MAIN__PASSWORD:?AIRFLOW__MAIN__PASSWORD}}"

# airflow flower configuration
export AIRFLOW__FLOWER__AUTH=admin:$(gen_password 64)

# postgres configuration
export POSTGRES__AIRFLOW__DB=${POSTGRES__AIRFLOW__DB:-airflow}
export POSTGRES__AIRFLOW__HOST=${POSTGRES__AIRFLOW__HOST:-postgres}
export POSTGRES__AIRFLOW__PASSWORD=${POSTGRES__AIRFLOW__PASSWORD:-$(gen_password 64)}
export POSTGRES__AIRFLOW__PORT=${POSTGRES__AIRFLOW__PORT:-5432}
export POSTGRES__AIRFLOW__USER=${POSTGRES__AIRFLOW__USER:-airflow}

# redis configuration
export REDIS__AIRFLOW__HOST=${REDIS__AIRFLOW__HOST:-redis}
export REDIS__AIRFLOW__PASSWORD=${REDIS__AIRFLOW__PASSWORD:-$(gen_password 64)}
export REDIS__AIRFLOW__PORT=${REDIS__AIRFLOW__PORT:-6379}

# server configuration
export SERVER__MAIN__DOMAIN=${SERVER__MAIN__DOMAIN:-localhost}

# traefik configuration
export AIRFLOW__TRAEFIK__USER=$(gen_password 64)
export AIRFLOW__TRAEFIK__PASSWORD=$(gen_password 128)
export AIRFLOW__TRAEFIK__AUTH=$(gen_htpasswd ${AIRFLOW__TRAEFIK__USER} ${AIRFLOW__TRAEFIK__PASSWORD})
export AIRFLOW__TRAEFIK__URL=airflow.${SERVER__MAIN__DOMAIN:?SERVER__MAIN__DOMAIN}

# traefik_flower configuration
export AIRFLOW__TRAEFIK_FLOWER__USER=$(gen_password 64)
export AIRFLOW__TRAEFIK_FLOWER__PASSWORD=$(gen_password 128)
export AIRFLOW__TRAEFIK_FLOWER__AUTH=$(gen_htpasswd ${AIRFLOW__TRAEFIK_FLOWER__USER} ${AIRFLOW__TRAEFIK_FLOWER__PASSWORD})
export AIRFLOW__TRAEFIK_FLOWER__URL=flower.${SERVER__MAIN__DOMAIN:?SERVER__MAIN__DOMAIN}

# uri
export AIRFLOW__URI__REDIS="redis://:${REDIS__AIRFLOW__PASSWORD}@${REDIS__AIRFLOW__HOST}:${REDIS__AIRFLOW__PORT}/1"
export AIRFLOW__URI__POSTGRESQL_PSYCOPG2="postgresql+psycopg2://${POSTGRES__AIRFLOW__USER}:${POSTGRES__AIRFLOW__PASSWORD}@${POSTGRES__AIRFLOW__HOST}:${POSTGRES__AIRFLOW__PORT}/${POSTGRES__AIRFLOW__DB}"
export AIRFLOW__URI__DB_POSTGRESQL="db+postgresql://${POSTGRES__AIRFLOW__USER}:${POSTGRES__AIRFLOW__PASSWORD}@${POSTGRES__AIRFLOW__HOST}:${POSTGRES__AIRFLOW__PORT}/${POSTGRES__AIRFLOW__DB}"
