# main configuration
export POSTGRES__MAIN__PASSWORD=$(gen_password 64)
export POSTGRES__MAIN__USER=postgres

# airflow configuration
export POSTGRES__AIRFLOW__PASSWORD=$(gen_password 64)
export POSTGRES__AIRFLOW__USER=airflow

# airflow_read configuration
export POSTGRES__AIRFLOW_READ__PASSWORD=$(gen_password 64)
export POSTGRES__AIRFLOW_READ__USER=airflow_read

