# main configuration
export POSTGRES__MAIN__DB=postgres
export POSTGRES__MAIN__PASSWORD=$(gen_password 64)
export POSTGRES__MAIN__USER=postgres

# airflow configuration
export POSTGRES__AIRFLOW__DB=airflow
export POSTGRES__AIRFLOW__PASSWORD=$(gen_password 64)
export POSTGRES__AIRFLOW__USER=airflow


