# main configuration
export POSTGRES__MAIN__DB=${POSTGRES__MAIN__DB:-main}
export POSTGRES__MAIN__HOST=${POSTGRES__MAIN__HOST:-postgres}
export POSTGRES__MAIN__PASSWORD=${POSTGRES__MAIN__PASSWORD:-$(gen_password 64)}
export POSTGRES__MAIN__PORT=${POSTGRES__MAIN__PORT:-5432}
export POSTGRES__MAIN__USER=${POSTGRES__MAIN__USER:-dbmaster}

