# redis configuration
export REDIS__MAIN__HOST=redis
export REDIS__MAIN__PASSWORD=$(gen_password 64)
export REDIS__MAIN__PORT=6379

# uri
export REDIS__URI__REDIS="redis://:${REDIS__MAIN__PASSWORD}@${REDIS__MAIN__HOST}:${REDIS__MAIN__PORT}/1"
